# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
b_venv/
ENV/
env/
.venv/

# Distribution / packaging
*.egg-info/
*.egg
dist/
build/

# VS Code / IDE files
.vscode/
.idea/

# Environment variables
*.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/
